@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DebitModificationModel>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Debit Modification</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"> </script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <style type="text/css">
            
            body {
                background-color: #fff;
                border-top: solid 10px #000;
                color: #333;
                /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
                font-size: .8em;*/
                margin: 0;
                padding: 0;
            }


            table {
                border: 0 none;
                border-collapse: collapse;
                border-spacing: 0;
                margin-top: 0.75em;
            }

            td { border-bottom: #CCCCCC solid 1px; }

            th { border-bottom: #CCCCCC solid 1px; }

            .page {
                margin: 0 auto;
                width: 800px;
            }

            .tabular { width: 100%; }

            .tabular tfoot { background: #EEEEEE; }

            .tabular thead {
                background: #333333;
                color: white;
            }

            .totalRight { text-align: right; }

            .finalTotals {
                margin-left: auto;
                width: 400px;
            }

            .numberCell { text-align: right; }
        </style>

        <div class="page">
            <h2><a href="/daily/start"><< Eligir Fechas</a></h2>
            <h2>Gastos - @Model.StartDate.ToShortDateString() a @Model.EndDate.ToShortDateString()</h2>
    
            <h3>Gastos Sin Impuesto</h3>

            <table class='tabular'>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th></th>
                        <th class="numberCell">Pagado</th>
                        <th class="numberCell">ISV</th>                
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DebitModel d in Model.Debits)
                    {
                        <tr>
                            <td>@d.CreatedDate.ToShortDateString()</td>
                            <td>@d.VendorName</td>
                            <td><span title="@d.Description">@d.DescriptionTruncated</span></td>
                            <td></td>
                            <td class="numberCell">@d.Amout</td>  
                            <td class="numberCell">@d.TaxPaid</td>    
                            <td style="text-align: right"><form method="post" action="/debits/@d._id/type">
                                                              <select name="type">
                                                                  @foreach (DebitTypeModel type in Model.Types)
                                                                  {
                                                                      if (type.Name == d.Type)
                                                                      {
                                                                          <option value="@type.Name" selected>@type.Name</option>
                                                                      }
                                                                      else
                                                                      {
                                                                          <option value="@type.Name">@type.Name</option>
                                                                      }
                                                                  }
                                        
                                                              </select><button class="btn btn-sm btn-primary">Cambiar</button>
                                                          </form></td>
                            <td><form method="post" action="/debits/@d._id/delete"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></form></td>                          
                        </tr>
                    }            
                </tbody>
                
            </table>
    
        </div>
    </body>
</html>